<div class="qv-product-images" style="opacity: 0.8"></div>
<div class="qv-content">
  <div class="holder">
    <h3 class="qv-product-title"></h3>
    <h4 class="qv-product-type"></h4>
    <h5 class="qv-product-price"></h5>
    <h5 class="qv-product-original-price"></h5>
    <hr />
    <div class="qv-add-to-cart">
      <div class="qv-product-options"></div>
      <div class="quantity">
        <span>Quantity</span>
        <input type="number" class="qv-quantity" value="1" min="1">
      </div>
      <input type="submit" class="qv-add-button" value="Add to Cart">
      <div class="qv-add-to-cart-response"></div>
    </div>
    <div class="qv-product-description"></div>
  </div>
  <a class="view-product" href=""><span>View Full Product Details</span></a>
</div>
Show Less
Edit theme.liquid file
In the Layouts folder, locate and click on your theme.liquid file to open it in the online code editor. In the online code editor, scroll down a bit until you see the closing </head> tag. Right before the closing tag, paste the below code.
{{ '//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css' | stylesheet_tag }}
{{ '//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css' | stylesheet_tag }}
{{ 'quickview.css' | asset_url | stylesheet_tag }} 
{{ '//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js' | script_tag }}
{{ 'quickview.js' | asset_url | script_tag }}
<script>
  {% capture content %}{% include 'quickview' %}{% endcapture %}
  var content = {{ content | json }};
</script>
