{%- comment -%}
This is a required section for the Shopify Theme Store.
It is available in the "Featured Collection" section in the theme editor.
Theme Store required settings
- Collection
Theme Store optional settings
- Heading: title of the featured collection section
{%- endcomment -%}
{{ 'test-feature-product.css' | asset_url | stylesheet_tag }}
{{ 'popup-minicart.css' | asset_url | stylesheet_tag }}
<script src="{{ 'popup-minicart.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'test-ajax1.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'application.js' | asset_url }}" defer="defer"></script>
<section class="featured-collection">
  {% if section.settings.title != blank %}
    <h2 class="featured-collection__title" style="text-align:center ">{{ section.settings.title | escape }}</h2>
  {% endif %}
  {%- assign collection = collections[section.settings.collection] -%}
  {%# get product from collection %}
  {% for product in collection.products limit: 6 %}
    <a href="{{ product.url | within: collection }}" class="featured-collection-item">
      {% if product.featured_image != blank %}
        <div class="featured-collection__image"></div>
      {% endif %}
      <div class="lists-feature-product">
        {%# start item product %}
        <div class="item-feature-product col-{{section.settings.number_display}}">
          <div class="feature-product-image">
            {% for image in product.images %}
              <img src="{{ image.src | product_img_url }}">
            {% endfor %}
            
          </div>
          <div class="feature-product-content">
            {% if section.settings.change_title == '' %}
             <h3>{{ product.title | escape }}</h3>  
           {% else %}
           <h3>{{ product.title | replace: product.title, section.settings.change_title }}</h3>
          {% endif %}
            <span>
              {% if product.compare_at_price > product.price %}
                {% if product.price_varies %}
                  {%- assign sale_price = product.price | money -%}
                  Price sale: {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                {% else %}
                  {{ 'products.product.on_sale' | t }}
                  Price sale: {{ product.price | money }}
                {% endif %}
              {% else %}
                {% if product.price_varies %}
                  {%- assign price = product.price | money -%}
                  {{ 'products.product.from_text_html' | t: price: price }}
                {% else %}
                  {{ product.price | money }}
                {% endif %}
              {% endif %}
            </span>
          </div>
          <a href="" id="loadcart" onclick="loadMiniCart()"></a>
        {%# <form method="post" action="/cart/add" class="btn-add-to-cart" ></form>%}
        <form method="post"  action="/cart/add" class="btn-add-to-cart" ></form>
        {% if product.compare_at_price > product.price %}
        Sale
    {%endif %}
  </p>
  <div class="add-cart m-l-10 " data-product = {{product.variants.size}}>
    {% if product.variants.size <= 1%}
      <button quantity="1" style="padding:10px" item-id={{product.selected_or_first_available_variant.id}} id="add-to-cart-button" class="add-to-cart">Add To Cart</button>
    {% else %}
      <a class="add-to-options" href="{{ product.url | within: collection }}"> Add to Options</a>
    {%endif %}
  </div>
          {%# add quick view <input name="add" value="Add to cart" type="submit" /> %}
          <div class="quick-view-button">
            <a class="quick-view" data-handle="{{ product.handle }}" href="javascript:void(0);">
              <svg viewBox="0 0 20 20" style="height: 20px; width: 20px;" class="Polaris-Icon__Svg_375hu" focusable="false" aria-hidden="true">
                <path d="M17.928 9.628c-.091-.229-2.317-5.628-7.928-5.628s-7.838 5.399-7.93 5.628a1.017 1.017 0 0 0 0 .744c.093.229 2.319 5.628 7.93 5.628s7.837-5.399 7.928-5.628a1.017 1.017 0 0 0 0-.744zm-7.928 4.372a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm0-6a2 2 0 1 0 .002 4.001 2 2 0 0 0-.003-4.001z"></path>
              </svg>
            Quick View</a></div>
        </form>
        </div>
        </div>
        {%# end item product %}
</a>

{% else %}
  {% endfor %}
</section>
{% schema %}
  {
    // "name": "t:sections.custom-feature-collection.name",
    "name": "Heading feature ",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "t:sections.custom-feature-collection.settings.title.label",
        "default": "Featured collection"
      }, {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }, {
        "type": "text",
        "id": "number_display",
        "label": " chose display product"
      },{
        "type": "textarea",
        "id":"change_title",
        "label": "Input title change"
      }
    ],
    "presets": [
      {
        "name": "Custom Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
<script src="{{ 'test-ajax1.js' | asset_url }}" defer="defer"></script>