{%- comment -%}
This is a required section for the Shopify Theme Store.
It is available in the "Featured Collection" section in the theme editor.
Theme Store required settings
- Collection
Theme Store optional settings
- Heading: title of the featured collection section
{%- endcomment -%}
{{ 'test-feature-product.css' | asset_url | stylesheet_tag }}
<section class="featured-collection">
  {% if section.settings.title != blank %}
    <h2 class="featured-collection__title" style="text-align:center ">{{ section.settings.title | escape }}</h2>
  {% endif %}
  {%- assign collection = collections[section.settings.collection] -%}
  {%# get product from collection %}
  {% for product in collection.products limit: 6 %}
      {% if product.featured_image != blank %}
        <div class="featured-collection__image"></div>
      {% endif %}
      <div class="lists-feature-product">
        {%# start item product %}
        <div class="item-feature-product col-{{section.settings.number_display}}">
          <div class="feature-product-image">
            {% for image in product.images %}
              <img src="{{ image.src | product_img_url }}">
            {% endfor %}
          </div>
          <div class="feature-product-content">
            <h3>{{ product.title | escape }}</h3>
            <span>
              {% if product.compare_at_price > product.price %}
                {% if product.price_varies %}
                  {%- assign sale_price = product.price | money -%}
                  Price sale: {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                {% else %}
                  {{ 'products.product.on_sale' | t }}
                  Price sale: {{ product.price | money }}
                {% endif %}
              {% else %}
                {% if product.price_varies %}
                  {%- assign price = product.price | money -%}
                  {{ 'products.product.from_text_html' | t: price: price }}
                {% else %}
                  {{ product.price | money }}
                {% endif %}
              {% endif %}
            </span>
          </div>
          <form method="post" action="/cart/add" class="btn-add-to-cart">
          <input name="id" value="{{ product.variants.first.id }}" type="hidden" />
          <input name="add" value="Add to cart" type="submit" />
        </form>
        </div>
        </div>
        {%# end item product %}

{% else %}
  {% endfor %}
</section>

{% schema %}
  {
    // "name": "t:sections.custom-feature-collection.name",
    "name": "Heading feature ",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "t:sections.custom-feature-collection.settings.title.label",
        "default": "Featured collection"
      }, {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }, {
        "type": "text",
        "id": "number_display",
        "label": " chose display product"
      }
    ],
    "presets": [
      {
        "name": "Custom Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}