{%- comment -%}
This is a required section for the Shopify Theme Store.
It is available in the "Featured Collection" section in the theme editor.
Theme Store required settings
- Collection
Theme Store optional settings
- Heading: title of the featured collection section
{%- endcomment -%}


{{ 'test-feature-product.css' | asset_url | stylesheet_tag }}
{{ 'popup-minicart.css' | asset_url | stylesheet_tag }}
<script src="{{ 'popup-minicart.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'test-ajax1.js' | asset_url }}" defer="defer"></script>
<section class="featured-collection">
  {% if section.settings.title != blank %}
    <h2 class="featured-collection__title" style="text-align:center ">{{ section.settings.title | escape }}</h2>
  {% endif %}
  {%- assign collection = collections[section.settings.collection] -%}
  {%# get product from collection %}
  {% for product in collection.products limit: 6 %}
    <a href="{{ product.url | within: collection }}" class="featured-collection-item">
      {% if product.featured_image != blank %}
        <div class="featured-collection__image"></div>
      {% endif %}
      <div class="lists-feature-product">
        {%# start item product %}
        <div class="item-feature-product col-{{section.settings.number_display}}">
          <div class="feature-product-image">
            {% for image in product.images %}
              <img src="{{ image.src | product_img_url }}">
            {% endfor %}
          </div>
          <div class="feature-product-content">
            {% if section.settings.change_title == '' %}
             <h3>{{ product.title | escape }}</h3>  
           {% else %}
           <h3>{{ product.title | replace: product.title, section.settings.change_title }}</h3>
          {% endif %}
            <span>
              {% if product.compare_at_price > product.price %}
                {% if product.price_varies %}
                  {%- assign sale_price = product.price | money -%}
                  Price sale: {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                {% else %}
                  {{ 'products.product.on_sale' | t }}
                  Price sale: {{ product.price | money }}
                {% endif %}
              {% else %}
                {% if product.price_varies %}
                  {%- assign price = product.price | money -%}
                  {{ 'products.product.from_text_html' | t: price: price }}
                {% else %}
                  {{ product.price | money }}
                {% endif %}
              {% endif %}
            </span>
          </div>
      <form method="post" action="/cart/add" class="btn-add-to-cart">
          <input name="id" value="{{ product.variants.first.id }}" type="hidden" />
          <input name="add" value="Add to cart" type="submit" onclick="loadMiniCart()" />
        </form>
        
        </div>
        </div>
        {%# end item product %}
</a>
{% else %}
  {% endfor %}
</section>

<div class="show-popup-minicart">
  <div class="close-popup" id="jsclosepoup" onclick="closePopup()">
    <svg class="icon icon-close-small" style="height: 10px;" aria-hidden="true" focusable="false">
      <use href="#icon-close" class="icon-close"  style="padding: 5px;">
    </svg>
  </div>
  <div class="has-items" id="show-mini-cart">
    <ul class="mini-products-list">  
      {% for item in cart.items %}
      <li class="item" id="cart-item-{{item.id}}">
        <a href="{{item.url}}" title="{{item.title}}" class="product-image">
          <img src="{{ item.image | product_img_url: 'small' }}" alt="{{item.title}}"></a>
        <div class="product-details">
          <p class="product-name"><a href="{{item.url}}">{{ item.product.title }}
            {% if item.product.variants.size != 0 %}
            {% unless item.variant.title contains 'Default' %}
            {{ item.variant.title }}
            {% endunless %}
            {% endif %}</a></p>
          <div class="cart-collateral"><span class="price">{{item.price | money}}</span> x {{item.quantity}}</div>
        </div>
        <a href="javascript&colon;void(0)" title="Remove This Item" class="btn-remove"><span class="zmdi zmdi-close"></span></a>
      </li>
      <hr style="visibility: visible;">
      {% endfor %}
    </ul>
    <div class="summary">   
      <p class="total">
        <span class="label">Cart total :</span>
        <span class="price"><b>{{cart.total_price | money}}</b></span> 
      </p>
    </div>
    <div class="actions">
      <button class="btn" onclick="window.location='/checkout'"><i class="icon-check"></i>Checkout </button>
      <button class="btn text-cart" onclick="window.location='/cart'"><i class="icon-basket"></i>View cart</button>
    </div>
</div>
</div>


{% schema %}
  {
    // "name": "t:sections.custom-feature-collection.name",
    "name": "Heading feature ",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "t:sections.custom-feature-collection.settings.title.label",
        "default": "Featured collection"
      }, {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }, {
        "type": "text",
        "id": "number_display",
        "label": " chose display product"
      },{
        "type": "textarea",
        "id":"change_title",
        "label": "Input title change"
      }
    ],
    "presets": [
      {
        "name": "Custom Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
<script src="{{ 'test-ajax1.js' | asset_url }}" defer="defer"></script>