<div class="show-popup-minicart">
  <div class="close-popup" id="jsclosepoup" onclick="closePopup()">
    <svg class="icon icon-close-small" style="height: 10px;" aria-hidden="true" focusable="false">
      <use href="#icon-close" class="icon-close"  style="padding: 5px;">
    </svg>
  </div>
  <div class="has-items" id="show-mini-cart">
    <ul class="mini-products-list">  
      {% for item in cart.items %}
      <li class="item" id="cart-item-{{item.id}}">
        <a href="{{item.url}}" id="productInfoAnchor" title="{{item.title}}" class="product-image">
          <img src="{{ item.image | product_img_url: 'small' }}" alt="{{item.title}}">
          </a>
        <div class="product-details">
          <p class="product-name"><a href="{{item.url}}">{{ item.product.title }}
            {% if item.product.variants.size != 0 %}
            {% unless item.variant.title contains 'Default' %}
            {{ item.variant.title }}
            {% endunless %}
            {% endif %}</a></p>
          <div class="cart-collateral"><span class="price">{{item.price | money}}</span> x {{item.quantity}}</div>
        </div>
        <a href="javascript&colon;void(0)" title="Remove This Item" class="btn-remove"><span class="zmdi zmdi-close"></span></a>
      </li>
      <hr style="visibility: visible;">
      {% endfor %}
    </ul>
    <div class="summary">   
      <p class="total">
        <span class="label">Cart total :</span>
        <span class="price"><b>{{cart.total_price | money}}</b></span> 
      </p>
    </div>
    <div class="actions">
      <button class="btn" onclick="window.location='/checkout'"><i class="icon-check"></i>Checkout </button>
      <button class="btn text-cart" onclick="window.location='/cart'"><i class="icon-basket"></i>View cart</button>
    </div>
</div>
</div>